In [1]:
from datetime import datetime
from meteostat import Hourly

In [5]:
start = datetime(2023, 1, 13)
end = datetime(2024, 3, 13, 23, 59)

In [6]:
bos_weather_station_id = '72509'
data = Hourly(bos_weather_station_id, start, end)
data = data.fetch()

In [7]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2023-01-13 00:00:00,5.6,3.9,89.0,0.0,NaN,120.0,16.6,NaN,1018.4,NaN,8.0
2023-01-13 01:00:00,6.1,4.4,89.0,0.0,NaN,120.0,16.6,NaN,1016.6,NaN,8.0
2023-01-13 02:00:00,6.1,5.1,93.0,0.5,NaN,140.0,16.6,NaN,1015.1,NaN,9.0
2023-01-13 03:00:00,7.8,6.7,93.0,1.5,NaN,140.0,22.3,NaN,1010.8,NaN,9.0
2023-01-13 04:00:00,7.8,6.7,93.0,1.3,NaN,140.0,22.3,NaN,1010.8,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...
2024-03-13 19:00:00,7.7,-1.3,53.0,0.0,NaN,107.0,22.2,NaN,1013.0,NaN,2.0
2024-03-13 20:00:00,7.4,-0.3,58.0,0.0,NaN,109.0,24.1,NaN,1012.7,NaN,2.0
2024-03-13 21:00:00,6.5,0.0,63.0,0.0,NaN,114.0,22.2,NaN,1013.1,NaN,2.0
2024-03-13 22:00:00,6.3,0.0,64.0,0.0,NaN,121.0,20.4,NaN,1013.8,NaN,2.0
2024-03-13 23:00:00,6.1,0.0,65.0,0.0,NaN,130.0,20.4,NaN,1014.5,NaN,2.0

In [8]:
data.to_csv('data/weather.csv')